@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can try to manage the users table at <a asp-controller="Users" asp-action="Index">User table page</a>.</p>
</div>
